{% extends 'base.html' %}
{% block container %}

<!-- HERO -->
<main class="container mt-3">
<div class="jumbotron text-center mt-4" style="background: url(https://images.unsplash.com/photo-1465778893808-9b3d1b443be4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1954&q=80); opacity: 0.8;">
  <h1 class="display-4">HH 2.0</h1>
  <p class="lead">Супер портал для поиска работы!</p>
    <p class="mt-3 w-50 mx-auto"><b>Лучшие компании мира в поисках именно Вас!</b></p>
</div>
</main>
<!-- CARDS -->

{% endblock %}
